<form class="search" action="" method="">
  <input #queryInput type="search" name="searchedInput" value="" placeholder="Search email...">
  <button type="submit" class="btn-search" (click)="loadSearchedItems(queryInput.value)">
    <!-- Do not forget to change the path to the image -->
    <img src="./assets/img/search-icon.png" alt="search-icon">
    Search
  </button>
</form>

<section id="search-page">

  <h2>Search result:</h2>
  <!--If there are a search matches, show each ad-->
  <article class="search-page-result"  *ngFor="let ad of searchedAds">
    <p class="search-page-result-headline">Headline: {{ad.headline}</p>
    <p class="search-page-result-companyName">Company {{ad.companyName}}</p>
  </article>

  <!--If not show:-->
  <article class="search-page-no-result" *ngIf="!searchedAds">
                  <p class="search-page-no-result-message">No match found.</p>
              </article>

</section>
