<input type="text" [(ngModel)]="searchText" placeholder="Search for a game">

<div>Searched Value: {{searchText}}</div>

<ul #gamesContainer>
    <!-- <li class="game-title" *ngFor="let game of games"> -->
    <li [class.game-title]="shouldShowContent" *ngFor="let game of games">
        Game: {{game.title}}
        <div [style.color]="'red'" [style.font-size]="'25px'" *ngIf="game.price > 50">
            Price: {{game.price}}
        </div>
        <div>
            <img [src]="game.img" alt="img" width="150px">
        </div>
    </li>
   
</ul>
<div>
    Total games: {{gamesContainer.children.length}}
</div>
<button (click)="handleExpandContent(gamesContainer)">
    {{shouldShowContent ? 'Collapse Content' : 'Expand Content'}}
</button>