<h1>Registration Form</h1>
{{registerForm.value | json}}
<hr>
{{userModel | json}}
<form #registerForm="ngForm">
  <div class="form-group">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" [ngModel]="userModel.username" name="username">
  </div>
  <div class="form-group">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" ngModel name="password">
  </div>
  <div class="form-group">
    <label class="form-label">Repeat Password</label>
    <input type="password" class="form-control" ngModel name="repass">
  </div>
  <div ngModelGroup="address">
    <div class="form-group">
      <label class="form-label">Country</label>
      <input type="text" class="form-control" [ngModel]="userModel.country" name="country">
    </div>
    <div class="form-group">
      <label class="form-label">City</label>
      <input type="text" class="form-control" [ngModel]="userModel.city" name="city">
    </div>
    <div class="form-group">
      <label class="form-label">Post Code</label>
      <input type="text" class="form-control" [ngModel]="userModel.postCode" name="postCode">
    </div>
  </div>
  <div class="form-group ">
    <select class="form-select" [ngModel]="userModel.language" name="select">
      <option selected>Please select a language</option>
      <option *ngFor="let language of languages">{{language}}</option>

    </select>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="text" class="form-check-input" type="radio" name="timePreference" value="morning" [ngModel]="userModel.timePreference">
      <label class="form-check-label">Morning (9am-12am)</label>
    </div>
    <div class="form-check">
      <input type="text" class="form-check-input" type="radio" name="timePreference"  value="evening" [ngModel]="userModel.timePreference">
      <label class="form-check-label">Evening (13pm-17pm)</label>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label">Email</label>
    <input type="text" class="form-control" [ngModel]="userModel.email" name="email">
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [ngModel]="userModel.subscribe" name="subscribe">
      <label class="form-label" class="form-check-label">
        Subscribe to receive emails.
      </label>
    </div>
  </div>

  <button type="button" class="btn btn-primary">Register</button>
</form>
