<h1>Registration Form</h1>
<!-- {{registerForm.value | json}}
<hr>
{{userModel | json}} -->
<form #registerForm="ngForm">
  <div class="form-group">
    <label class="form-label">Username</label>
    <input type="text" #username="ngModel" [class.is-invalid]="username.invalid && username.touched &&username.dirty" class="form-control" [ngModel]="userModel.username" name="username" required minlength="4">
    <div *ngIf="username.errors && (username.invalid ||username.touched || username.dirty)">
      <small class="text-danger" *ngIf="username.errors?.['required'] && username.touched && username.dirty">Username is required</small>
      <small class="text-danger" *ngIf="username.errors?.['minlength'] && username.touched && username.dirty">Username must be at least 4 characters</small>
    </div>
  </div>
  {{username.untouched}}
  <div class="form-group">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" ngModel name="password">
  </div>
  <div class="form-group">
    <label class="form-label">Repeat Password</label>
    <input type="password" class="form-control" ngModel name="repass">
  </div>
  <div ngModelGroup="address">
    <div class="form-group">
      <label class="form-label">Country</label>
      <input type="text" class="form-control" [ngModel]="userModel.country" name="country">
    </div>
    <div class="form-group">
      <label class="form-label">City</label>
      <input type="text" class="form-control" [ngModel]="userModel.city" name="city">
    </div>
    <div class="form-group">
      <label class="form-label">Post Code</label>
      <input type="text" class="form-control" [ngModel]="userModel.postCode" name="postCode">
    </div>
  </div>
  <div class="form-group ">
    <select #language="ngModel" (blur)="validateLanguage(language.value)" (change)="validateLanguage(language.value)"[class.is-invalid]="languageHasError && language.touched" class="form-select" [ngModel]="userModel.language" name="select">
      <option [value]="language" *ngFor="let language of languages">{{language}}</option>

    </select>
    <small class="text-danger" [class.d-none]="!languageHasError || language.untouched">Please select a language</small>
  </div>
  <div class="form-group">
   <label lass="form-label">Select a preferred time</label>
    <div class="form-check">
      <input type="text" class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference" >
      <label class="form-check-label">Morning (9am-12am)</label>
    </div>
    <div class="form-check">
      <input type="text" class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference" >
      <label class="form-check-label">Evening (13pm-17pm)</label>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label">Email</label>
    <input #email="ngModel" type="text" [class.is-invalid]="email.invalid && email.touched && email.dirty" class="form-control" required pattern="^([a-zA-Z0-9]){3,}@(gmail|test).(com|bg)$" [ngModel]="userModel.email" name="email">
  <div *ngIf="email.errors &&(email.invalid || email.touched || email.dirty)">
      <small class="text-danger" *ngIf="email.errors?.['required'] && email.touched && email.dirty" >Email is a required field</small>
      <small class="text-danger" *ngIf="email.errors?.['pattern'] && email.touched && email.dirty">Email should be in the correct format</small>
  </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" [ngModel]="userModel.subscribe" name="subscribe">
      <label class="form-label" class="form-check-label">
        Subscribe to receive emails.
      </label>
    </div>
  </div>

  <button type="button" class="btn btn-primary">Register</button>
</form>
