<div class="header">
<p>
  WELCOME TO ANGULAR!
</p>
  <nav>
    <!-- <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li> -->
    <li>
      <a routerLink="/user/list" routerLinkActive="active">User List</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About Us</a>
    </li>
    <li>
      <a routerLink="/test" routerLinkActive="active">TEST</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
  </nav>
  <app-time></app-time>
</div>
