div {
    margin-bottom: 30px;
    text-align: center;
}

.header {
    padding: 30px;
    border-bottom: 2px solid rgb(65, 1, 65);
    

    
}

.footer {
    border-top: 2px solid rgb(65, 1, 65);
    padding: 30px;
    text-align: center;
}