<div class="container">
  <div class="detail-user-info">
    <h2>User Information</h2>
    <div *ngIf="(user$ | async) as user">
      <p>Username: <span>{{user?.username}}</span></p>
      <p>Email: <span>{{user.email}}</span></p>
      <p>Phone: <span>{{user.phone}}</span></p>
      <p>City: <span>{{user.address.city}}</span></p>
      <p>Company name: <span>{{user.company.name}}</span></p>
      <p>Website: <span>{{user.website}}</span></p>
      <button [routerLink]="['/user-detail', user.id +1]">Next</button>
    </div>
    <app-loader *ngIf="!(user$ | async)"></app-loader>
  </div>
  <button type="button" routerLink="/user/list">Back to user list</button>
</div>
